@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

:root {

}

a {
  text-decoration: none;
}

button {
  border: none;
}

input:focus {
  outline: none;
}
