@import "global.css";

.container {
  padding: 0 15 px;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 24px 0px;
  background: #0d0d0d;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-lift {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
}

.nav-list {
  display: flex;
  gap: 48px;
}

.nav-item {
  list-style-type: none;
}
.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
}

.btn {
  padding: 20px 48px;
  border-radius: 12px;
  text-decoration: none;
  background: #ffd2a4;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #1c1d28;
}

/* --------- main --------- */

/* ------------  church section ----------- */

#church {
  background-image: url("../images/home-back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.church-title {
  padding-top: 128px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.church-text {
  padding: 16px 0 56px;
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 600px;
}

.church-btn {
  color: white;
}

.church-writing {
  padding: 64px 0 128px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

/* ----------- relevant section --------------- */

.relevant-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #161722;
  padding-top: 128px;
}

.relevant-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  padding: 16px 0 64px;
}

.relevant-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.relevant-about {
  width: 33%;
  background: #fff5eb;
  border-bottom: 10px solid #ffd2a4;
}

.relevant-about-img {
  padding: 80px 0 28px 80px;
}

.relevant-about-text {
  padding: 0 0 8px 80px;
}

.relevant-about-title {
  padding: 0 80px 80px 80px;
}

/* ------------ love section ------------- */

.love-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #161722;
  opacity: 0.78;
  max-width: 900px;
  margin: 0 auto;
}

.love-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.love-card-img {
  width: 33%;
}

.love-card-img-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  margin-top: 100px;
}

.love-btn {
  margin-bottom: 48px;
}

.love-card-img-2 {
  width: 33%;
}

/* ---------- width section ------------ */

.width-title {
  padding: 16px 0;
}

.width-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #161722;
  opacity: 0.78;
  width: 550px;
  margin: 0 auto;
}

.width-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0 136px;
}

.width-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #161722;
}

/* ---------- watch section ----------- */

#watch {
  background-color: #f5f2f0;
}

.watch-text {
  width: 600px;
  margin: 0 auto;
}

.watch-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-bottom: 127px;
}

.watch-img {
  width: 25%;
  background-image: url("../images/fashion.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.watch-img-left {
  padding: 208px 32px 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
}

.watch-img-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.78;
  padding: 0 32px 32px;
}

.watch-img-1 {
  width: 25%;
  background-image: url("../images/holding.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.watch-img-2 {
  width: 25%;
  background-image: url("../images/man-peopl.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.watch-img-3 {
  width: 25%;
  background-image: url("../images/woman.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.watch-img-text {
  padding: 296px 32px 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
}

/* ------------------ sermons section  -------------------  */

.sermons-card {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 208px;
}

.sermons-left {
  width: 42%;
  background-color: #fff5eb;
  padding: 33px 0 31px 89px;
  /* height: 512px; */
}

.sermons-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sermons-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #a54e2b;
}

.bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}

.sermons-title {
  padding-right: 33px;
}

.sermons-clock {
  padding-top: 32px;
}

.clock {
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 10px;
}

.clock-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  margin-bottom: 32px;
}

.sermons-ph {
  padding-top: 16px;
}

.sermons-btn {
  margin-top: 32px;
}

.sermons-right {
  width: 58%;
}

.sermons-right-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

#world {
  background-image: url(../images/facade.png);
  width: 100%;
  height: 500px;
}

.world-card {
  width: 100%;
}

.watch-card img {
  width: 100%;
}

.share-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 128px;
}

.share_bottom_item {
  background-color: #fff;
  width: 23%;
  margin-top: 25px;
  background-color: #fff5eb;
}

.share_bottom_item_short_title {
  padding-left: 32px;
  padding-top: 48px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  background: linear-gradient(109.61deg, #a54e2b -53.83%, #dc9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.share_bottom_item_title {
  padding-left: 32px;
  padding-top: 16px;
  max-width: 218px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.share_bottom_item_text {
  padding-left: 32px;
  max-width: 238px;
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}
.share_bottom_item_person {
  padding-left: 32px;
  padding-top: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #161722;
}
.share_bottom_item_date {
  padding-left: 32px;
  padding-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  padding-bottom: 32px;
}

/* ----- footer -------- */
