@import "global.css";

.container {
  padding: 0 15 px;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 24px 0px;
  background: #0d0d0d;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-lift {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
}

.nav-list {
  display: flex;
  gap: 48px;
}

.nav-item {
  list-style-type: none;
}
.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
}

.btn {
  padding: 20px 48px;
  border-radius: 12px;
  text-decoration: none;
  background: #ffd2a4;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #1c1d28;
}

/* --------- main --------- */

/* ------------  church section ----------- */

#church {
  background-image: url("../images/home-back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.church-title {
  padding-top: 128px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.church-text {
  padding: 16px 0 56px;
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 600px;
}

.church-btn {
  color: white;
}

.church-writing {
  padding: 64px 0 128px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

/* ----------- relevant section --------------- */

.relevant-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #161722;
  padding-top: 128px;
}

.relevant-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  padding: 16px 0 64px;
}

.relevant-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.relevant-about {
  width: 33%;
  background: #fff5eb;
  border-bottom: 10px solid #ffd2a4;
}

.relevant-about-img {
  padding: 80px 0 28px 80px;
}

.relevant-about-text {
  padding: 0 0 8px 80px;
}

.relevant-about-title {
  padding: 0 80px 80px 80px;
}

/* ------------ love section ------------- */

.love-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #161722;
  opacity: 0.78;
  width: 900px;
  margin: 0 auto;
}

.love-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.love-card-img {
  width: 33%;
}
.love-card-img img {
  width: 100%;
}

.love-card-img-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  margin-top: 100px;
}

.love-btn {
  margin-bottom: 48px;
}

.love-card-img-2 {
  width: 33%;
}
.love-card-img-2 img {
  /* width: 100%; */
}
